
@{
    ViewBag.Title = "Registration";
}

<h2>@ViewBag.Title</h2>


<form action="http://localhost:49872/New/Result" target="_blank">
    First name:<br>
    <input type="text" name="firstname" value=""><br>
    Last name:<br>
    <input type="text" name="lastname" value=""><br>
    Email:<br>
    <input type="email" name="firstname" value=""><br>
    Phone Number:<br>
    <input type="number" name="lastname" value=""><br>
    Pasword:<br>
    <input type="password" name="lastname" value=""><br>
    <br>
    <input type="submit" value="Register">

</form>

